
.social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 22px;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
  font-size: 14px;
  box-shadow: inset 0 0 2px 0 rgba(255,255,255,0.5);
  border: 1px solid #f29327;
  background: #fdae51;
  margin: 0 0.125rem;
}
.social-icon:hover {
  color: #fff;
}
.social-icon.fb {
  border: 1px solid #3b67b8;
  background: #6484bf;
}
.social-icon.tw {
  border: 1px solid #37a7da;
  background: #7abfdf;
}

.side-link .c {
  color: #ccc;
  margin-right: 0.25rem;
  visibility: hidden;
}
.side-link:hover .c {
  visibility: visible;
}
.side-link.active .c {
  visibility: visible;
  color: #000;
}

.candidate {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;
  padding: 1rem;
  box-shadow: 1px 1px 3px 0 #f2f2f2;
  background-color: #fff;
  background-size: 100% 200px;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
  margin-bottom: 1.5rem;
  transition: all 0.1s;
}
.candidate:hover {
  transform: scale(1.1);
  transition: all 0.1s;
  cursor: pointer;
}
.candidate .website {
  display: block;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.candidate h5 {
  margin-bottom: 0.5rem;
}

.candidate-links a {
  display: block;
}

.candidate-img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 0.5rem;
}

.mini-candidates-more-wrap {
  position: relative;
}
.mini-candidates-overflow {
  position: relative;
  overflow: auto;
}
.mini-candidates-wrap {
  display: flex;
  flex-wrap: wrap;
}
.mini-candidates-overflow .mini-candidates-wrap {
  flex-wrap: hidden;
}

.mini-candidates-more-wrap .more a {
   background: #fff;
   margin-right: 2rem;
}
.mini-candidates-more-wrap .more a:hover {
   background: #727b84;
}
.mini-candidates-more-wrap .more {
  position: absolute;
  right: 0;
  top: 0;
  height: 110px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,1) 100%)
}
.mini-candidate {
  margin: 0 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.mini-candidate .candidate-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin-bottom: 0.25rem;
  margin: 5px
}
.mini-candidate:hover .candidate-img .c {
}
.mini-candidate h5 {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #666;
}
.mini-candidate.active .candidate-img .c {
  border: 5px solid #007fff;
  width: 78px;
  height: 78px;
  border-radius: 50px;
  margin: -5px;
}
.mini-candidate.active h5 {
  font-weight: bold;
  color: #333;
}

.candidate-names {
  display: flex;
  flex-wrap: wrap;
}
.candidate-name {
  text-align: center;
  line-height: 16px;
  font-size: 14px;
  margin: 0 0.5rem 0.75rem 0.5rem;
}
.candidate-name.active {
  font-weight: bold;
}
.candidate-name.disabled {
  color: #aaa;
}




.candidate-profile {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.candidate-profile .candidate-img {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin-bottom: 0.25rem;
}
.candidate-profile h5 {
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #666;
}


.footer {
  margin: 1rem 0;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 14px;
}
.footer span {
  color: #aaa;
  margin: 0 1rem;
}

.survey-list a {
  color: #333
}
